@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap') ;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap') ;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  padding: 10px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#trybewarts-header-title {
  color: white;
  font-size: 56px;
  text-align: center;
  align-self: center;
  text-shadow: 2px 2px 1px black;
  /* font-family: 'Blaka', cursive; */
}

.trybewarts-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 10px;
}

input[type="email"], input[type="text"], input[type="password"] {
  border-radius: 4px;
  height: 40px;
  width: 250px;
  border: 1px solid rgb(50, 167, 145);
  padding: 5px 5px;
  outline: none;
}

input[type=text]:focus, input[type="password"]:focus {
  border: 2px solid rgb(50, 167, 145);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-login {
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #4e2c83;
  transition: 0.5s ease;
}

.button-login:hover {
  background-color: #8976c5;
  cursor: pointer;
}

main {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}
