@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap') ;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  padding: 10px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

#trybewarts-header-title {
  color: white;
  font-size: 56px;
  text-align: center;
  align-self: center;
  text-shadow: 2px 2px 1px black;
}

.trybewarts-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 10px;
}

.input-warts {
  border-radius: 4px;
  height: 40px;
  width: 250px;
  border: 1px solid rgb(50, 167, 145);
  padding: 5px;
  outline: none;
}

.input-warts:focus {
  border: 2px solid rgb(50, 167, 145);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.button-login {
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: rgb(78, 44, 131);
  transition: 0.5s ease;
}

.button-login:hover {
  background-color: rgb(137, 118, 197);
  cursor: pointer;
}

main {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  gap: 15px;
  text-align: start;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-around;
  width: 85%;
  flex-flow: row wrap;
}

.form-column {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-flow: column wrap;
  gap: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
}
